body{
  background: lightskyblue;
}
h1{
  color: red;
  font-size: 25px;
  padding-left: 17px;
  font-weight: bold;
  font-family:"Lucida Console", "Courier New", monospace;
  background: royalblue;
}
img{
  padding-left: 40px;
  width: 150px;
  height: 150px;
  padding-left: 140px;
}
a{
  padding-top: 150px;
  padding-left: 130px;
  font-size: 30px;
}